heart_stroke_predictior.egg-info
dist/

eggs/
.eggs/
build/

lib/
lib64/

sdist/

wheels/
pip-wheel-metadata/
share/python-wheels/

*.egg-info/

pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints

profile_default/
ipython_config.py

.python-version

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

schema.yaml
model.yaml


Graphs_folder/
accuracy_graph.jpg
confusion_matric.jpg
loss_graph.jpg